![title](IPL-Team-Logo-2017-PNG.png)

# IPL Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
import seaborn as sns

In [2]:
match=pd.read_csv("F:\\project\\BITA\Python\\ipl task\\matches.csv")
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.5+ KB

In [3]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
deliveries=pd.read_csv("F:\project\BITA\Python\ipl task\deliveries.csv")
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
match_id            150460 non-null int64
inning              150460 non-null int64
batting_team        150460 non-null object
bowling_team        150460 non-null object
over                150460 non-null int64
ball                150460 non-null int64
batsman             150460 non-null object
non_striker         150460 non-null object
bowler              150460 non-null object
is_super_over       150460 non-null int64
wide_runs           150460 non-null int64
bye_runs            150460 non-null int64
legbye_runs         150460 non-null int64
noball_runs         150460 non-null int64
penalty_runs        150460 non-null int64
batsman_runs        150460 non-null int64
extra_runs          150460 non-null int64
total_runs          150460 non-null int64
player_dismissed    7438 non-null object
dismissal_kind      7438 non-null object
fielder             5369 non-null object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [6]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [14]:
mdf=pd.merge(deliveries,match,left_on='match_id',right_on='id')
mdf

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
22,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,3,S Dhawan,MC Henriques,YS Chahal,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
23,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,4,S Dhawan,MC Henriques,YS Chahal,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
25,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,S Dhawan,MC Henriques,YS Chahal,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
26,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,1,S Dhawan,MC Henriques,S Aravind,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
28,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,3,S Dhawan,MC Henriques,S Aravind,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150430,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,1,KL Rahul,SR Watson,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150431,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,2,SR Watson,KL Rahul,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150432,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,3,KL Rahul,SR Watson,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150433,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,4,Sachin Baby,SR Watson,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150434,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,5,Sachin Baby,SR Watson,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150435,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,6,SR Watson,Sachin Baby,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150436,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,1,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150437,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,2,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150439,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,4,Sachin Baby,STR Binny,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150440,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,5,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150441,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,6,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150442,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,1,STR Binny,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150443,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,2,STR Binny,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150444,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,3,Sachin Baby,STR Binny,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150445,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,4,STR Binny,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150446,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,5,STR Binny,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150447,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,6,Sachin Baby,STR Binny,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150448,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,1,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150449,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,2,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150450,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,3,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150451,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,4,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150452,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,5,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150453,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,6,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150454,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,1,CJ Jordan,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [15]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150460 entries, 0 to 150459
Data columns (total 39 columns):
match_id            150460 non-null int64
inning              150460 non-null int64
batting_team        150460 non-null object
bowling_team        150460 non-null object
over                150460 non-null int64
ball                150460 non-null int64
batsman             150460 non-null object
non_striker         150460 non-null object
bowler              150460 non-null object
is_super_over       150460 non-null int64
wide_runs           150460 non-null int64
bye_runs            150460 non-null int64
legbye_runs         150460 non-null int64
noball_runs         150460 non-null int64
penalty_runs        150460 non-null int64
batsman_runs        150460 non-null int64
extra_runs          150460 non-null int64
total_runs          150460 non-null int64
player_dismissed    7438 non-null object
dismissal_kind      7438 non-null object
fielder             5369 non-null object
id                  150460 non-null int64
season              150460 non-null int64
city                148760 non-null object
date                150460 non-null object
team1               150460 non-null object
team2               150460 non-null object
toss_winner         150460 non-null object
toss_decision       150460 non-null object
result              150460 non-null object
dl_applied          150460 non-null int64
winner              150139 non-null object
win_by_runs         150460 non-null int64
win_by_wickets      150460 non-null int64
player_of_match     150139 non-null object
venue               150460 non-null object
umpire1             150212 non-null object
umpire2             150212 non-null object
umpire3             0 non-null float64
dtypes: float64(1), int64(18), object(20)
memory usage: 45.9+ MB

In [16]:
cd=deliveries.copy()
cd.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [17]:
# creating batsman dataframe

# run scored
bat_df=mdf.groupby(by='batsman')['batsman_runs'].sum().reset_index() # run scored

# ball faced
bat_df['Ball']=mdf.groupby(by='batsman')['ball'].count().reset_index()['ball']  

# no. of sixes
bat_df['sixes']=cd.groupby(by='batsman')['batsman_runs'].apply(lambda x:(x==6).sum()).reset_index()['batsman_runs']

# no.of fours
bat_df['fours']=cd.groupby(by='batsman')['batsman_runs'].apply(lambda x:(x==4).sum()).reset_index()['batsman_runs']

# changing my single column name
bat_df.rename(columns={'batsman_runs':'Run_scored'},inplace=True)

# strikerate
bat_df['strikerate']=bat_df['Run_scored']/bat_df['Ball']

# player of match
bat=bat_df.copy()

PL=match['player_of_match'].value_counts().reset_index()

g=pd.merge(bat,PL,left_on='batsman',right_on='index',how='left')

g=g.drop('index',1)

g.rename(columns={'player_of_match':'count_player_of_match'},inplace=True)

g['count_player_of_match'].fillna(0,inplace=True)

g['count_player_of_match']=g['count_player_of_match'].apply(round)

# highest score in match

HR=mdf.groupby(by=['match_id','batsman'])['batsman_runs'].sum().reset_index()
g['max_score']=HR.groupby(by='batsman')['batsman_runs'].max().reset_index()['batsman_runs']

# to find count of match for each batsman
g['no_of_matches']=cd.groupby(by='batsman')['match_id'].count().reset_index()['match_id']

# to find out batting team
g['team_played']=cd.groupby(by='batsman')['batting_team'].unique().reset_index()['batting_team']

g.head(5)

,batsman,Run_scored,Ball,sixes,fours,strikerate,count_player_of_match,max_score,no_of_matches,team_played
0,A Ashish Reddy,280,196,15,16,1.428571,0,36,196,"[Deccan Chargers, Sunrisers Hyderabad]"
1,A Chandila,4,7,0,0,0.571429,1,4,7,[Rajasthan Royals]
2,A Chopra,53,75,0,7,0.706667,0,24,75,[Kolkata Knight Riders]
3,A Choudhary,25,20,1,1,1.250000,0,15,20,[Royal Challengers Bangalore]
4,A Flintoff,62,57,2,5,1.087719,0,24,57,[Chennai Super Kings]

In [18]:
# bowlers data frame

# to find out total no. of overs
bowler_df=cd.groupby(by=['bowler','bowling_team'])['over'].nunique().reset_index()

# to find out total run given by bowler
bowler_df['run_given']=cd.groupby(by=['bowler','bowling_team'])['total_runs'].sum().reset_index()['total_runs']

# find out total extra runs given by bowler
bowler_df['total-extra_run']=cd.groupby(by=['bowler','bowling_team'])['extra_runs'].sum().reset_index()['extra_runs']

# no of wides by bowler
bowler_df['no_of wide']=cd.groupby(by=['bowler','bowling_team'])['wide_runs'].nunique().reset_index()['wide_runs']


# total no ball rus runs
bowler_df['no_ball_run']=cd.groupby(by=['bowler','bowling_team'])['noball_runs'].sum().reset_index()['noball_runs']

# player of match
bal=bowler_df.copy()
h=pd.merge(bal,PL,how='left',left_on='bowler',right_on='index')
h.drop('index',1,inplace=True)
h['player_of_match'].fillna(0,inplace=True)

#h['player_of_match'].apply(lambda x:round(x))

itn=h['player_of_match']
mad=itn.map(round)
h['count_of-pl_mat']=mad
h.drop('player_of_match',1,inplace=True)

# economy
h['economy']=h['run_given']/h['over']

# no of wickets taken

h['wickets']=cd.groupby(by=['bowler','bowling_team'])['player_dismissed'].count().reset_index()['player_dismissed']

h.head(10)

,bowler,bowling_team,over,run_given,total-extra_run,no_of wide,no_ball_run,count_of-pl_mat,economy,wickets
0,A Ashish Reddy,Deccan Chargers,14,238,9,3,2,0,17.000000,11
1,A Ashish Reddy,Sunrisers Hyderabad,8,162,5,2,0,0,20.250000,8
2,A Chandila,Rajasthan Royals,9,245,3,1,0,1,27.222222,11
3,A Choudhary,Royal Challengers Bangalore,12,144,7,2,1,0,12.000000,5
4,A Flintoff,Chennai Super Kings,10,106,1,1,0,0,10.600000,2
5,A Kumble,Royal Challengers Bangalore,20,1089,62,4,5,3,54.450000,49
6,A Mishra,Deccan Chargers,15,750,27,3,4,9,50.000000,32
7,A Mishra,Delhi Daredevils,20,1818,75,4,12,9,90.900000,78
8,A Mishra,Sunrisers Hyderabad,15,737,12,2,4,9,49.133333,32
9,A Mithun,Royal Challengers Bangalore,17,477,29,2,9,0,28.058824,8

In [19]:
# no of wickets taken

cd.groupby(by=['bowler','bowling_team'])['player_dismissed'].count().reset_index()

#N=cd['player_dismissed'].dropna().reset_index

                bowler                 bowling_team  player_dismissed
0       A Ashish Reddy              Deccan Chargers                11
1       A Ashish Reddy          Sunrisers Hyderabad                 8
2           A Chandila             Rajasthan Royals                11
3          A Choudhary  Royal Challengers Bangalore                 5
4           A Flintoff          Chennai Super Kings                 2
5             A Kumble  Royal Challengers Bangalore                49
6             A Mishra              Deccan Chargers                32
7             A Mishra             Delhi Daredevils                78
8             A Mishra          Sunrisers Hyderabad                32
9             A Mithun  Royal Challengers Bangalore                 8
10             A Nehra          Chennai Super Kings                33
11             A Nehra             Delhi Daredevils                41
12             A Nehra               Mumbai Indians                14
13             A Nehra                Pune Warriors                12
14             A Nehra          Sunrisers Hyderabad                21
15               A Nel               Mumbai Indians                 1
16             A Singh             Rajasthan Royals                31
17           A Symonds              Deccan Chargers                22
18           A Symonds               Mumbai Indians                 1
19            A Uniyal             Rajasthan Royals                 3
20             A Zampa       Rising Pune Supergiant                 7
21             A Zampa      Rising Pune Supergiants                12
22           AA Chavan             Rajasthan Royals                 8
23     AA Jhunjhunwala              Deccan Chargers                 1
24     AA Jhunjhunwala                Pune Warriors                 0
25     AA Jhunjhunwala             Rajasthan Royals                 0
26             AA Kazi  Royal Challengers Bangalore                 1
27           AA Noffke  Royal Challengers Bangalore                 1
28          AB Agarkar             Delhi Daredevils                13
29          AB Agarkar        Kolkata Knight Riders                20
..                 ...                          ...               ...
569           VR Aaron  Royal Challengers Bangalore                22
570          VRV Singh              Kings XI Punjab                16
571           VS Malik              Kings XI Punjab                 3
572           VS Malik             Rajasthan Royals                 3
573        VS Yeligati               Mumbai Indians                 0
574          VY Mahesh          Chennai Super Kings                 3
575          VY Mahesh             Delhi Daredevils                19
576            WA Mota              Kings XI Punjab                 4
577         WD Parnell             Delhi Daredevils                 7
578         WD Parnell                Pune Warriors                24
579         WPUJC Vaas              Deccan Chargers                22
580  Washington Sundar       Rising Pune Supergiant                 9
581   Y Gnaneswara Rao         Kochi Tuskers Kerala                 0
582            Y Nagar             Delhi Daredevils                 4
583    Y Venugopal Rao              Deccan Chargers                 7
584    Y Venugopal Rao             Delhi Daredevils                 0
585    Y Venugopal Rao          Sunrisers Hyderabad                 0
586         YA Abdulla              Kings XI Punjab                15
587          YK Pathan        Kolkata Knight Riders                22
588          YK Pathan             Rajasthan Royals                23
589          YS Chahal               Mumbai Indians                 0
590          YS Chahal  Royal Challengers Bangalore                72
591       Yuvraj Singh             Delhi Daredevils                 1
592       Yuvraj Singh              Kings XI Punjab                15
593       Yuvraj Singh                Pune Warriors                15
594       Yuvraj Singh  Royal Challengers Bangalore                 6
595       Yuvraj Singh          Sunrisers Hyderabad                 2
596             Z Khan             Delhi Daredevils                32
597             Z Khan               Mumbai Indians                31
598             Z Khan  Royal Challengers Bangalore                56

[599 rows x 3 columns]

In [20]:
# economy
h['economy']=h['run_given']/h['over']

In [21]:
# player of match
bal=bowler_df.copy()
h=pd.merge(bal,PL,how='left',left_on='bowler',right_on='index')
h.drop('index',1,inplace=True)
h['player_of_match'].fillna(0,inplace=True)
#h['player_of_match'].apply(lambda x:round(x))
itn=h['player_of_match']
mad=itn.map(round)
h['count_of-pl_mat']=mad
h.drop('player_of_match',1,inplace=True)

In [22]:
# to find out total run given by bowler
cd.groupby(by='bowler')['total_runs'].sum().reset_index().head(3)

           bowler  total_runs
0  A Ashish Reddy         400
1      A Chandila         245
2     A Choudhary         144

In [23]:
# find out total extra runs given by bowler
cd.groupby(by='bowler')['extra_runs'].sum().reset_index().head(2)

           bowler  extra_runs
0  A Ashish Reddy          14
1      A Chandila           3

In [24]:
# no of wides by bowler
cd.groupby(by='bowler')['wide_runs'].nunique().reset_index().head(10)

           bowler  wide_runs
0  A Ashish Reddy          3
1      A Chandila          1
2     A Choudhary          2
3      A Flintoff          1
4        A Kumble          4
5        A Mishra          4
6        A Mithun          2
7         A Nehra          5
8           A Nel          1
9         A Singh          3

In [25]:
# team played
cd.groupby(by='bowler')['bowling_team'].unique().reset_index()['bowling_team']

0                 [Deccan Chargers, Sunrisers Hyderabad]
1                                     [Rajasthan Royals]
2                          [Royal Challengers Bangalore]
3                                  [Chennai Super Kings]
4                          [Royal Challengers Bangalore]
5      [Delhi Daredevils, Deccan Chargers, Sunrisers ...
6                          [Royal Challengers Bangalore]
7      [Sunrisers Hyderabad, Mumbai Indians, Delhi Da...
8                                       [Mumbai Indians]
9                                     [Rajasthan Royals]
10                     [Deccan Chargers, Mumbai Indians]
11                                    [Rajasthan Royals]
12     [Rising Pune Supergiant, Rising Pune Supergiants]
13                                    [Rajasthan Royals]
14     [Rajasthan Royals, Pune Warriors, Deccan Charg...
15                         [Royal Challengers Bangalore]
16                         [Royal Challengers Bangalore]
17             [Kolkata Knight Riders, Delhi Daredevils]
18     [Rising Pune Supergiant, Kolkata Knight Riders...
19       [Delhi Daredevils, Royal Challengers Bangalore]
20                                     [Kings XI Punjab]
21                                       [Pune Warriors]
22                                    [Rajasthan Royals]
23                   [Rajasthan Royals, Kings XI Punjab]
24     [Delhi Daredevils, Kolkata Knight Riders, Pune...
25             [Delhi Daredevils, Kolkata Knight Riders]
26                         [Royal Challengers Bangalore]
27                       [Mumbai Indians, Pune Warriors]
28     [Rajasthan Royals, Delhi Daredevils, Pune Warr...
29                                       [Gujarat Lions]
                             ...
326    [Mumbai Indians, Chennai Super Kings, Rajastha...
327     [Deccan Chargers, Mumbai Indians, Pune Warriors]
328      [Delhi Daredevils, Royal Challengers Bangalore]
329                        [Royal Challengers Bangalore]
330                                    [Deccan Chargers]
331                        [Royal Challengers Bangalore]
332                                      [Gujarat Lions]
333            [Kolkata Knight Riders, Delhi Daredevils]
334                              [Kolkata Knight Riders]
335                        [Royal Challengers Bangalore]
336                                    [Deccan Chargers]
337                                   [Delhi Daredevils]
338                                [Chennai Super Kings]
339    [Kings XI Punjab, Delhi Daredevils, Royal Chal...
340                                    [Kings XI Punjab]
341                  [Kings XI Punjab, Rajasthan Royals]
342                                     [Mumbai Indians]
343              [Delhi Daredevils, Chennai Super Kings]
344                                    [Kings XI Punjab]
345                    [Pune Warriors, Delhi Daredevils]
346                                    [Deccan Chargers]
347                             [Rising Pune Supergiant]
348                               [Kochi Tuskers Kerala]
349                                   [Delhi Daredevils]
350    [Deccan Chargers, Delhi Daredevils, Sunrisers ...
351                                    [Kings XI Punjab]
352            [Kolkata Knight Riders, Rajasthan Royals]
353        [Royal Challengers Bangalore, Mumbai Indians]
354    [Sunrisers Hyderabad, Kings XI Punjab, Pune Wa...
355    [Delhi Daredevils, Royal Challengers Bangalore...
Name: bowling_team, Length: 356, dtype: object

In [26]:
# total penalty runs
cd.groupby(by='bowler')['noball_runs'].sum().reset_index()['noball_runs']

0       2
1       0
2       1
3       0
4       5
5      20
6       9
7       9
8       0
9       1
10      1
11      0
12      0
13      0
14      0
15      0
16      0
17      2
18     14
19      0
20      0
21      2
22      0
23      0
24      1
25      3
26      0
27      0
28      0
29      0
       ..
326     2
327     2
328     0
329     0
330     1
331     0
332     0
333    16
334     6
335     6
336     0
337     1
338     0
339     6
340     4
341     2
342     0
343     7
344     1
345     5
346     2
347     0
348     0
349     4
350     0
351     1
352     0
353     3
354     1
355     2
Name: noball_runs, Length: 356, dtype: int64

In [27]:
def smf(x):
    if x==6:
        return sum(x)

In [28]:
print(mdf['player_of_match'].head(5))
def check_PLM(x):
    
    if x['player_of_match']==x['batsman']:
        return 1
    else:
        return 0
    
x=mdf.groupby(by='batsman')['player_of_match'].count

0    Yuvraj Singh
1    Yuvraj Singh
2    Yuvraj Singh
3    Yuvraj Singh
4    Yuvraj Singh
Name: player_of_match, dtype: object

In [29]:
PL=match['player_of_match'].value_counts().reset_index()
PL
g=pd.merge(bat,PL,left_on='batsman',right_on='index',how='left')

In [30]:
g=g.drop('index',1)

In [31]:
g.rename(columns={'player_of_match':'count_player_of_match'},inplace=True)

In [32]:
g['count_player_of_match'].fillna(0,inplace=True)
g
g['count_player_of_match']=g['count_player_of_match'].apply(round)

In [33]:
g

,batsman,Run_scored,Ball,sixes,fours,strikerate,count_player_of_match
0,A Ashish Reddy,280,196,15,16,1.428571,0
1,A Chandila,4,7,0,0,0.571429,1
2,A Chopra,53,75,0,7,0.706667,0
3,A Choudhary,25,20,1,1,1.250000,0
4,A Flintoff,62,57,2,5,1.087719,0
5,A Kumble,35,49,0,3,0.714286,3
6,A Mishra,340,382,5,27,0.890052,9
7,A Mithun,34,26,1,4,1.307692,0
8,A Mukund,19,23,0,1,0.826087,0
9,A Nehra,41,63,1,3,0.650794,6
10,A Singh,2,10,0,0,0.200000,1
11,A Symonds,974,781,41,74,1.247119,3
12,A Uniyal,4,7,0,0,0.571429,0
13,A Zampa,5,8,0,1,0.625000,1
14,AA Bilakhia,69,88,0,5,0.784091,0
15,AA Chavan,12,11,0,2,1.090909,0
16,AA Jhunjhunwala,217,218,5,19,0.995413,1
17,AA Noffke,9,12,0,1,0.750000,0
18,AB Agarkar,179,160,5,13,1.118750,0
19,AB Barath,42,43,1,5,0.976744,0
20,AB Dinda,26,50,0,2,0.520000,2
21,AB McDonald,123,103,4,9,1.194175,0
22,AB de Villiers,3486,2402,158,287,1.451291,15
23,AC Blizzard,120,91,2,21,1.318681,0
24,AC Gilchrist,2069,1555,92,239,1.330547,7
25,AC Thomas,20,19,1,1,1.052632,0
26,AC Voges,181,143,3,15,1.265734,1
27,AD Mascarenhas,79,79,1,5,1.000000,1
28,AD Mathews,724,599,29,44,1.208681,1
29,AD Nath,20,28,0,1,0.714286,0
...,...,...,...,...,...,...,...
431,V Kohli,4423,3494,160,384,1.265884,11
432,V Pratap Singh,0,1,0,0,0.000000,0
433,V Sehwag,2728,1833,106,334,1.488271,11
434,V Shankar,101,77,1,12,1.311688,0
435,VH Zol,29,26,1,3,1.115385,0
436,VR Aaron,46,56,2,2,0.821429,1
437,VRV Singh,4,3,0,1,1.333333,0
438,VS Malik,7,7,0,1,1.000000,0
439,VS Yeligati,2,2,0,0,1.000000,0
440,VVS Laxman,282,271,5,33,1.040590,0
441,VY Mahesh,15,28,0,0,0.535714,0
442,Vishnu Vinod,19,26,1,1,0.730769,0
443,W Jaffer,130,129,3,14,1.007752,0
444,WA Mota,56,76,0,2,0.736842,0
445,WD Parnell,63,80,1,4,0.787500,0
446,WP Saha,1557,1219,57,130,1.277276,3
447,WPUJC Vaas,81,73,3,2,1.109589,1
448,Washington Sundar,9,12,0,0,0.750000,1
449,X Thalaivan Sargunam,10,17,0,0,0.588235,0
450,Y Gnaneswara Rao,19,18,0,3,1.055556,0
451,Y Nagar,285,271,9,20,1.051661,0
452,Y Venugopal Rao,985,865,37,77,1.138728,0
453,YA Abdulla,0,1,0,0,0.000000,0
454,YK Pathan,2922,2076,149,240,1.407514,16
455,YS Chahal,15,29,0,0,0.517241,1
456,YV Takawale,192,183,3,26,1.049180,0
457,Yashpal Singh,47,67,0,5,0.701493,0
458,Younis Khan,3,7,0,0,0.428571,0
459,Yuvraj Singh,2591,2050,141,205,1.263902,5
460,Z Khan,117,141,2,11,0.829787,1

In [31]:
mod_myfirst=myfirstmatch[['over','ball','total_runs']]
mod_myfirst.head(10)

NameError: name 'myfirstmatch' is not defined

In [32]:
total_cum_run=np.array(mod_myfirst['total_runs']).cumsum()
print(total_cum_run)

NameError: name 'mod_myfirst' is not defined